{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src",
          "*": ["*", "./node_modules"]
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
